<ion-content fullscreen >
  <div class="login-header">
    <div class="login-header-icon">
      <!-- <ion-icon  slot="start" name="logo-usd"></ion-icon> -->
      <img src="assets/img/bg-header.jpg" >
      <ion-text class="header-text">
        <p>Login</p>
      </ion-text>
    </div> 
  </div>
  <div id="container" class="ion-padding">    
    <ion-item> 
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" autocomplete="off" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" autocomplete="off" ></ion-input>
    </ion-item>
    <br><br>
    <ion-button (click)="goLogin()" expand="full" disabled="{{isDisabled}}" >
      Login
    </ion-button>
    <div class="tfooter">
      <ion-text >
        <p>Copyright @ 2020 <b>3031</b></p>
      </ion-text>
    </div>
  </div>
  

</ion-content>
<ion-footer class="ion-no-border">
  <div class="bg-footer"> 
    <img src="assets/img/bg-header.jpg" >
  </div>
</ion-footer>
