ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.login-header {
    img {
        position: absolute;
        right: 0;
        margin-top: -20px;
    }

    p {
        // position: relative;
        // margin-top: -70px;
        // padding-left: 20px;
        font-size: 30px;
        // padding-bottom: 50px;
        font-weight: bold;
    }
}

#container{
    position: relative;
    z-index: 99;
    padding-top: 80px;
    padding-bottom: 200px;
}

.header-text{
    padding-top: 70px;
    z-index: 9;
    padding-left: 20px;
    color: #000000;
}

.login-header-icon {
    display: flex;
    border: 0px;
    background-repeat: no-repeat;
}

ion-button {
    --background: green;
}

.tfooter {
    display: flex;
    justify-content: center;

    p {
        font-size: 12px;
        margin-top: 20px;
    }
}

.bg-footer {
    position: absolute;
    transform: rotate(180deg);
    background-color: '#008000';
    margin-top: -200px;
}

ion-item.item-has-focus>ion-label {
    color: #008000; //label color
}