<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Form {{action}} Harga</ion-title>
    <ion-buttons (click)="getSelected()" slot="start">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="ion-padding scroll-content" *ngIf="showList">
    <ion-searchbar expand="full" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems($event)" (ionClear)="cleared($event)" ></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let list of arrList">
        <ion-label (click)="getSelected(list.id,list.code,list.nama_barang)"> 
          <p><b>{{list['nama_barang']}}</b></p>
          <p>kode barang : {{list['code']}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
