<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="100" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="login-header">
    <div class="login-header-icon">
      <img src="assets/img/bg-header.jpg">
    </div>
  </div>
  <div class="ion-padding scroll-content" *ngIf="showList">
    <div class="branch" *ngIf="isAdministrator">
      <ion-item>
        <ion-label position="floating">Cabang</ion-label>
        <ion-select [(ngModel)]="branch_id" (ionChange)="actCabang($event)">
          <ion-select-option type="text" value="" >Semua</ion-select-option>
          <ion-select-option type="text" *ngFor="let item of arrCabang" value="{{item.branch_id}}">{{item.branch_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>      
    </div>
    <div>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Tanggal Awal</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY"  placeholder="Pilih Tanggal" [(ngModel)]="startDate" (ionCancel)="clearTgl('startDate')"  (ionChange)="getDataChange()" ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Tanggal Akhir</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY"  placeholder="Pilih Tanggal" [(ngModel)]="endDate" (ionCancel)="clearTgl('endDate')" (ionChange)="getDataChange()" ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-searchbar expand="full" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems($event)" (ionClear)="cleared($event)" ></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let list of arrList; let i = index">
        <ion-label>
          <p>No. {{i+1}}</p>
          <p>Batch : <b>{{list.batch}}</b></p>
          <p><b>{{list.nama_barang}}</b></p>
          <p>tipe barang : {{list.tipe_barang}}</p>
          <p>Tanggal : {{list.tgl}} &nbsp; jam : {{list.jam}}</p>
          <p>harga : {{list.harga}}</p>
          <p>Jumlah : {{list.jml}}</p>
          <p>Total : <b>{{list.total}}</b></p>
          <p>Cabang : {{list.branch_name}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <div *ngIf="!showList" class="scroll-content">
    <ion-list>      
      <ion-item *ngFor="let flist of fakeList">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>      
    </ion-list>
  </div>

</ion-content>