<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="login-header">
    <div class="login-header-icon">
      <img src="assets/img/bg-header.jpg">
    </div>
  </div>
  <div class="ion-padding scroll-content" *ngIf="showList">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" disabled="{{isDisabled}}"></ion-input>
      <ion-input type="number" hidden [(ngModel)]="user_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nama Lengkap</ion-label>
      <ion-input type="text" [(ngModel)]="full_name" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select [(ngModel)]="role" disabled="{{isDisabled}}">
        <ion-select-option type="text" *ngFor="let drole of arrRole" value="{{drole.level}}">{{drole.deskripsi}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cabang</ion-label>
      <ion-select [(ngModel)]="cabang" disabled="{{isDisabled}}">
        <ion-select-option type="text" *ngFor="let dcabang of arrCabang" value="{{dcabang.branch_id}}">
          {{dcabang.branch_name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" [(ngModel)]="password" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Aktif</ion-label>
      <ion-select [(ngModel)]="isactive" disabled="{{isDisabled}}">
        <ion-select-option type="text" *ngFor="let item of listActive" value="{{item.val}}">{{item.valdesc}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Player Id</ion-label>
      <ion-input type="text" [(ngModel)]="playerid" autocomplete="off" readonly="{{isDisabled}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notifikasi</ion-label>
      <ion-select [(ngModel)]="notif">
        <ion-select-option type="text" *ngFor="let item of listNotif" value="{{item.val}}">{{item.valdesc}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="saveForm()" expand="block" fill="clear" class="bSave">
      Update
    </ion-button>
    
    
  </div>


  <div *ngIf="!showList" class="scroll-content">
    <ion-list>      
      <ion-item *ngFor="let flist of fakeList">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>      
    </ion-list>
  </div>

</ion-content>