ion-toolbar {
    position: relative;
    --background: transparent;
    --ion-color-base: transparent !important;
    ion-title{
        color: #ffffff;
    }
}

.login-header-icon {
    position: relative;
    display: flex;
    border: 0px;
    background-repeat: no-repeat;
    z-index: 9;
}

ion-refresher{
    z-index: 99;
    position: absolute;
    top: 0;
}

.login-header-icon img{
    position: absolute;
    right: 0;
    margin-top: -80px;
}

.header-md::after{
    background-image: none !important;
}

.scroll-content {    
    margin-top: 120px;
}

ion-fab-button{
    --background: #008000 !important;
}

ion-searchbar{
    z-index: 9;
    --box-shadow : none;
}

.branch{
    margin-top: 10px;
}

.copytext{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; 
}
