<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Form {{action}} User</ion-title>
    <ion-buttons (click)="closeModal()" slot="start">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="ion-padding" *ngIf="showList">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" disabled="{{isDisabled}}"></ion-input>
      <ion-input type="number" hidden [(ngModel)]="passId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nama Lengkap</ion-label>
      <ion-input type="text" [(ngModel)]="full_name" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select [(ngModel)]="role">
        <ion-select-option type="text" *ngFor="let drole of arrRole" value="{{drole.level}}">{{drole.deskripsi}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cabang</ion-label>
      <ion-select [(ngModel)]="cabang">
        <ion-select-option type="text" *ngFor="let dcabang of arrCabang" value="{{dcabang.branch_id}}">
          {{dcabang.branch_name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" [(ngModel)]="password" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Aktif</ion-label>
      <ion-select [(ngModel)]="isactive">
        <ion-select-option type="text" *ngFor="let item of listActive" value="{{item.val}}">{{item.valdesc}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="saveForm()" expand="block" fill="clear" class="bSave">
      {{(action == 'Add' ? 'SAVE':'UPDATE')}}
    </ion-button>
  </div>

  <div *ngIf="!showList" class="scroll-content">
    <ion-list>
      <ion-item *ngFor="let flist of fakeList">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>